body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #121212; /* Fondo oscuro */
  color: white;
}

.container {
  background-color:0 10px 20px rgba(0,0,0,0.2);
  padding: 40px;
  margin: 100px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}
