body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}

.containerForm {
  max-width: 600px;
  margin: 40px auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 255, 170, 0.4);
}

h1, h2 {
  text-align: center;
  color: #00ffaa;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2a2a2a;
  color: white;
}

label {
  font-weight: bold;
  color: #fbfdfc;
  margin-top: 5px;
}

select {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2a2a2a;
  color: rgb(255, 255, 255);
  font-size: 14px;
  outline: none;
  appearance: none; /* Oculta la flecha por defecto */
  background-image: linear-gradient(45deg, transparent 50%, #00ffaa 50%),
                    linear-gradient(135deg, #00ffaa 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
                       calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

select:hover {
  background-color: #3a3a3a;
}

select option {
  background: #1e1e1e;
  color: white;
}


button {
  padding: 10px;
  background: #00ffaa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #121212;
  transition: 0.3s;
}

button:hover {
  background: #00cc88;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #2a2a2a;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: red;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}



nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
}

.vehiculo-card {
  background-color: #1f1f1f;
  color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.vehiculo-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.vehiculo-card h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: #00e5ff;
}

.vehiculo-card p {
  margin: 4px 0;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.delete-btn:hover {
  background-color: #cc0000;
}
